
@{
    ViewData["Title"] = "SubmitUrl";
}

    <form method="post">
        <div>
            <label for="search">Url to look for:</label>
            <input type="text" name="search" value="" />
            <input type="Submit" value="Search" /><br />
            (list all comment.)<br />
        </div>
    </form>
<h1>SubmitUrl</h1>

